<template>
<!-- Main Content -->
        <div class="content-wrapper">
            
            <div class="login-logo pt-5">
                <strong>Hop</strong>Lexington
            </div>
            
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body login-card-body py-5">
                            <p class="login-box-msg">Sign in to start your session</p>

                            <form @submit.prevent="login">
                                <div class="input-group">
                                    <input v-model="form.contact" type="text" class="form-control" placeholder="User Contact">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                        <span class="fas fa-phone"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-4">
                                    <a @click="sendOtp" href="#">
                                        <span v-if="fc.sendingOtp">Sending...</span>
                                        <span v-else>Send OTP</span>
                                    </a>
                                </div>
                                <div class="input-group mb-4">
                                    <input v-model="form.otp" type="password" class="form-control" placeholder="OTP">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-1">
                                    <span v-html="rForm"></span>
                                </div>
                                <div class="row">
                                    <!-- /.col -->
                                    <div class="col-12">
                                        <button :disabled="sForm" type="submit" class="btn btn-theme btn-block">
                                            <i v-if="sForm" class="fas fa-spinner fa-spin"></i>
                                            Sign In
                                        </button>
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </form>
                            
                            </div>
                            <!-- /.login-card-body -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
</template>

<script>
import axios from 'axios'

export default {
    
    data(){
        return {
            fc:{
                sendingOtp: false,
            },
            form: {
                contact: null,
                otp: null
            },
            sForm: false,
            rForm: '',
        }
    },
    methods: {
        
        sendOtp() {
            const self = this
            self.fc.sendingOtp = true
            self.rForm = ''
            axios.get(`/api/admin-auth/send-otp/${self.form.contact}`)
            .then(res => {
                self.fc.sendingOtp = false
                self.rForm = `<span class='text-success'>${res.data.message}</span>`
            })
            .catch(err => {
                self.fc.sendingOtp = false
                self.rForm = `<span class='text-danger'>${err.response.data.message}</span>`
            })
        },

        login() {

            // Login admin
            const self = this
            self.sForm = true
            self.rForm = ''

            axios.post(`/api/admin-auth/login`, self.form)
            .then(res => {
                self.sForm = false
                self.rForm = `<span class='text-success'>${res.data.message}</span>`
                localStorage.setItem('access-token', res.data.data.token)
                self.checkLoggedIn()
            })
            .catch(err => {
                self.sForm = false
                self.rForm = `<span class='text-danger'>${err.response.data.message}</span>`
            })

        },

        checkLoggedIn() {

            // Check user is logged in
            const self = this

            const t = localStorage.getItem('access-token')

            if(t != ''){
                self.$router.push({ name: 'dashboard' })
            }

            // // Check user is logged in
            // axios.get(`/api/admin-auth/is-login`)
            
            // .then(res => {
                
            //     self.rForm = `<span class='text-success'>${res.data.message}</span>`
            //     self.$router.push({ name: 'dashboard' })

            // })

            // .catch(() => {
            //     self.rForm = `<span class='text-muted'>Please Login to visit admin dashboard.</span>`
            // })

        }
    },

    mounted() {
        this.checkLoggedIn()
    }
}
</script>

<style scoped>

    body:not(.sidebar-mini-md) .content-wrapper,
    body:not(.sidebar-mini-md) .main-footer,
    body:not(.sidebar-mini-md) .main-header{
        margin: 0px !important;
    }

    .content-wrapper{
        height: 100vh;
    }

</style>