<template>
  <div class="main-outer">
      <div class="loader text-center">
          <i class="fa fa-exclamation-triangle text-red fa-2x" aria-hidden="true"></i>
          <p class="p-0 mb-2 mt-3">
              Oops! Unable to laod. Try again.
          </p>
          <router-link to="/">
            <i class="fas fa-home pr-2"></i>
            Back to dashboard
          </router-link>
      </div>
  </div>
</template>

<style scoped>
  .main-outer{
      height: calc(100vh - 117px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }



</style>