<template>
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      <strong class="text-red">HopLexington</strong> All rights reserved.
    </div>
    <!-- Default to the left -->
  </footer>
</template>
