<template>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <router-link to="/" class="brand-link">
        <img src="../../public/images/logo/hop-logo.jpeg" class="img-circle elevation-2 img-fluid" alt="User Image" style="max-width: 50px">
        <span class="brand-text font-weight-light pl-2"><strong>HopLexington</strong></span>
    </router-link>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../public/images/logo/hop-logo.jpeg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <router-link to="/" class="d-block">HopLexington Admin</router-link>
        </div>
      </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
          
          <li class="nav-item">
            <router-link to="/" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Dashboard
              </p>
            </router-link>
          </li>
          
          <li class="nav-item devider">
              <hr>
          </li>
          
          
          <li class="nav-item">
            <router-link  :to="{name: 'add-new-pass'}" class="nav-link">
              <i class="nav-icon fas fa-plus"></i>
              <p>
                Add Passes
              </p>
            </router-link>
          </li>

          <li class="nav-item">
              <router-link :to="{name: 'daily'}" class="nav-link">
                <i class="fa fa-ellipsis-h pl-1 nav-icon"></i>
                <p>Daily Specials</p>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{name: 'upcoming'}" class="nav-link">
                <i class="fa fa-ellipsis-h pl-1 nav-icon"></i>
                <p>Upcoming Passes</p>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{name: 'block'}" class="nav-link">
                <i class="fa fa-ellipsis-h pl-1 nav-icon"></i>
                <p>Blocked</p>
              </router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{name: 'expired'}" class="nav-link">
                <i class="fa fa-ellipsis-h pl-1 nav-icon"></i>
                <p>Expired</p>
              </router-link>
            </li>
          
          <li class="nav-item devider">
              <hr>
          </li>

          <li class="nav-item">
            <router-link  :to="{name: 'user-list'}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Registered User
              </p>
            </router-link>
          </li>

          <li class="nav-item">
            <a @click="logout" class="nav-link">
              <i class="nav-icon fas fa-power-off"></i>
              <p>
                Logout
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
export default {
  
  props : ['logout']

}
</script>

<style scoped>
    a{
        color: #ffffff !important;
    }
    /* [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link[data-v-3eca7188]:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link[data-v-3eca7188]:hover, a.router-link-active.router-link-exact-active.nav-link[data-v-3eca7188], */
    /* [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover, */
    a.router-link-active.router-link-exact-active.nav-link{
        background: linear-gradient(90deg, #FEF400, #FF1F00);
        border-radius: 50px;
    }
    a.router-link-active.router-link-exact-active.nav-link i{
      color: #FF1F00 !important;
    }
    .nav-sidebar .nav-item>.nav-link,
    [class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus,
    li.nav-item:hover{
      border-radius: 50px;
    }
    li.nav-item.devider hr {
      padding: 0px;
      background: gray;
      margin: 5px 0 5px 0;
    }

</style>