<template>
  <NavBar :logout="logout" v-if="$route.path != '/login'"/>
  <SideBar :logout="logout" v-if="$route.path != '/login'"/>
  <router-view></router-view>
  <Footer v-if="$route.path != '/login'"/>
</template>

<script>

import NavBar from '@/components/NavBar.vue'
import SideBar from '@/components/SideBar.vue'
import Footer from '@/components/Footer.vue'

export default {
  components: {
    NavBar,
    SideBar, 
    Footer
  },
  methods: {
    logout(){
      if(confirm('Are you sure to end this session ?')){
        localStorage.removeItem('access-token')
        this.$router.push({ name: 'login' })
      }
    }
  }
}

</script>

<style>
    a{
      color: #FF7C00;
    }
    .btn-theme{
        background: linear-gradient(90deg, #FEF400, #FF1F00);
        border: 0;
        border-radius: 50px;
        color: #ffffff;
        transition: all ease .3s;
    }
    .btn-theme:hover{
      background: linear-gradient(90deg, #FF1F00, #FEF400);
      color: #ffffff;
    }
    .bg-theme{
      background: linear-gradient(-45deg, #FEF400, #FF7C00, #FF1F00);
    }
    .text-red{
      color: #FF1F00 !important;
    }
    .text-orange{
      color: #FF7C00 !important;
    }
    .text-yellow{
      color: #FEF400 !important;
    }
    .content-wrapper {
      min-height: calc(100vh - 115px ) !important;
    }

    .custom-modal{
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 9999;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,.8);
      overflow: auto;
    }
</style>
