<template>
        <!-- Main Content -->
        <div class="content-wrapper">
            
            <!-- Main content -->
            <div class="content">
            <div class="container-fluid">
                <div class="row">
                <!-- /.col-md-6 -->
                    <div class="col-lg-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">ADD NEW PASS</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form role="form">
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <label for="pass_name">Pass Title</label>
                                                <input type="text" class="form-control" id="pass_name" placeholder="Enter pass title">
                                            </div>    
                                        </div>

                                        <div class="col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <label for="pass_saving">Pass Value <small>(in $ - Enter numeric value only)</small></label>
                                                <input type="text" class="form-control" id="pass_saving" placeholder="Enter pass saving amount">
                                            </div>    
                                        </div>

                                        <div class="col-sm-8 col-md-8">
                                            <div class="form-group">
                                                <label for="pass_tagline">Pass Tagline</label>
                                                <input type="text" class="form-control" id="pass_tagline" placeholder="Enter pass tagline">
                                            </div>    
                                        </div>
                                        
                                        <div class="col-sm-6 col-md-5">
                                            <div class="form-group">
                                                <label for="pass_icon">Icon (URL) <small>(With full path eg: https://xyz.ab/abc.png)</small></label>
                                                <input type="text" class="form-control" id="pass_icon" placeholder="Enter pass icon path">
                                            </div>    
                                        </div>
                                        
                                        <div class="col-sm-6 col-md-5">
                                            <div class="form-group">
                                                <label for="pass_banner">Banner (URL) <small>(With full path eg: https://xyz.ab/abc.png)</small></label>
                                                <input type="text" class="form-control" id="pass_banner" placeholder="Enter pass banner path">
                                            </div>    
                                        </div>
                                        
                                        <div class="col-sm-6 col-md-5">
                                            <div class="form-group">
                                                <label for="pass_af">Active From <small>(Date and time)</small></label>
                                                <div class="row">
                                                    <div class="col-6 pr-0">
                                                        <input type="date" class="form-control" id="pass_af_date" placeholder="Active from data">
                                                    </div>
                                                    <div class="col-6 pl-0">
                                                        <input type="time" class="form-control" id="pass_af_time" placeholder="Active from time">
                                                    </div>
                                                </div>
                                            </div>    
                                        </div>
                                        
                                        <div class="col-sm-6 col-md-5">
                                            <div class="form-group">
                                                <label for="pass_vt">Valid Till <small>(Date and time)</small></label>
                                                <div class="row">
                                                    <div class="col-6 pr-0">
                                                        <input type="date" class="form-control" id="pass_valid_till_date" placeholder="Valid till data">
                                                    </div>
                                                    <div class="col-6 pl-0">
                                                        <input type="time" class="form-control" id="pass_valid_till_time" placeholder="Valid till time">
                                                    </div>
                                                </div>
                                            </div>    
                                        </div>

                                    </div>

                                    Working on it.
                                    
                                </div>
                                    <!-- /.card-body -->

                                <div class="card-footer">
                                    <button type="reset" class="btn btn-theme px-4">Save Pass</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
</template>

<style scoped>
    label{
        margin-bottom: 2px;
    }
</style>