<template>
  <PassList :pass-type="pass_type" />
</template>

<script>

import PassList from './common/passList.vue'

export default {
    components: {
        PassList
    },
    data(){
        return {
            pass_type : 'block'
        }
    }
}
</script>

<style>

</style>