<template>
        <!-- Main Content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
            <div class="container-fluid">
                <div class="row">
                <!-- /.col-md-6 -->
                <div class="col-lg-6 mt-3">
                    <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">HopLexington Admin</h5>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Special title treatment</h6>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-theme">Go somewhere</a>
                    </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
</template>

<script>

export default {
    methods: {
        checkLoggedIn() {
            // Check user is logged in
            const t = localStorage.getItem('access-token')
            if(t == '' || t == null){
                this.$router.push({ name: 'login' })
            }
        }
    },

    mounted() {
        this.checkLoggedIn()
    }
}
</script>