<template>
        <!-- Main Content -->
        <div class="content-wrapper">
            
            <!-- Main content -->
            <div class="content">
            <div class="container-fluid">
                <div class="row">
                <!-- /.col-md-12 -->
                <div class="col-lg-12 mt-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                USERS LIST
                                &nbsp; | 
                                <small>
                                    {{ `Page ${pagination.page_no} of ${pagination.total_page}` }}
                                </small>   
                            </h3>
                            <div class="card-tools">
                                <div class="row">
                                    <div class="col-12">
                                        <i v-if="is_loading" class="fa fa-spinner fa-spin mr-3 my-0"></i>
                                        <ul class="pagination pagination-sm float-right">
                                            <li class="page-item" title="Prev"><a @click="getData(--page_no)" class="page-link" href="#">&laquo;</a></li>
                                            <li class="page-item" title="Page number">
                                                <div class="input-group input-group-sm mt-0" style="width: 80px;">
                                                    <input v-model="page_no" type="text" name="table_search" class="form-control float-right" placeholder="Page">
                                                    <div class="input-group-append" :title="`Search page number ${page_no}`">
                                                        <button @click="getData(page_no)" type="button" class="btn btn-default"><i class="fas fa-search"></i></button>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="page-item" title="Next"><a @click="getData(++page_no)" class="page-link" href="#">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive" style="height: 69vh;">
                            <table class="table table-head-fixed table-sm table-bordered table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>DOB</th>
                                        <th>Joined At</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(user, index) in users" :key="user.id">
                                        <td>{{index + 1}}</td>
                                        <td>
                                            {{ user.first_name }}
                                            <small class="pl-2" v-if="user.redeemed_passes > 0"><i class="fa fa-crown text-orange"></i></small>
                                        </td>
                                        <td>{{user.contact}}</td>
                                        <td>{{ user.dob }}</td>
                                        <td>{{ user.created_at }}</td>
                                        <td>
                                            <button @click="showDetails(user.id, user.first_name)" class="btn btn-theme px-3 btn-xs mr-2">
                                                <i class="fas fa-eye"></i>
                                                {{ user.redeemed_passes }}
                                            </button>
                                        </td>
                                    </tr>
                                    <!-- If No Data found -->
                                    <tr v-if="users.length < 1">
                                        <td class="text-center" colspan="6">No data.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Redeemed Pass details -->
                    <div v-if="viewing_pass" class="custom-modal">
                        <div role="c-modal-inner">
                            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                <div class="modal-content rounded-0">
                                    <div class="modal-header">
                                        <h5 class="modal-title">{{ loading_pass_name }}</h5>
                                        <button @click="viewing_pass = false" type="button" class="close text-red" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div v-if="loading_pass" class="col-12">
                                                <Loader />
                                            </div>
                                            <div v-else class="col-12">
                                                <div v-if="redeemed_passes.length > 0" class="container">
                                                    <div v-for="passes_details in redeemed_passes" :key="passes_details.pass_id" class="row mb-3">
                                                        <div class="col-12 p-3 border">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="row d-flex">
                                                                        <div class="">
                                                                            <img :src="passes_details.icon" class="img-fluid rounded-lg" alt="Pass Icon" height="100">
                                                                        </div>
                                                                        <div class="pl-3">
                                                                            <strong>{{passes_details.name}} &nbsp; | &nbsp; ${{passes_details.saving}} </strong>
                                                                            <p>{{passes_details.tagline}}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <p class="m-0 p-0"><strong>Latitude: </strong> {{passes_details.latitude}}</p>
                                                                            <p class="m-0 p-0"><strong>Longitude:</strong> {{passes_details.longitude}}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-3">
                                                                        <div class="col-12">
                                                                            <p class="m-0 p-0"><strong>Active From: </strong> {{passes_details.active_from}}</p>
                                                                            <p class="m-0 p-0"><strong>Valid Till:</strong> {{passes_details.valid_till}}</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12 mt-2">
                                                                            <p>
                                                                                <i class="fa fa-dot-circle" aria-hidden="true"></i>
                                                                                {{passes_details.additionals}}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <!-- <div v-if="passes_details.attributes.length > 0" class="row">
                                                                        <div class="col-12">
                                                                            <h6><strong>More Attributes: </strong></h6>
                                                                            <ul>
                                                                                <li v-for="list in passes_details.attributes" :key="list.id">{{ list.title }}</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div> -->
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <h6> <strong>Banner Image:</strong> </h6>
                                                                            <img :src="passes_details.banner" class="img-fluid rounded-lg" alt="Pass Banner">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div v-else class="container">
                                                    <NoData />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
</template>

<script>
import axios from 'axios'

import Loader from '../../../components/Loader.vue'
import NoData from '../../../components/NoData.vue'
export default {
    components: {
        Loader, NoData
    },
    data(){
        return {
            
            is_loading: false,
            page_no: 1,
            pagination: {
                page_no: 0,
                total_page: 0,
            },
            users : [],
            
            loading_pass_name: '',
            viewing_pass: false,
            loading_pass: false,
            redeemed_passes: [],
        }
    },
    methods:{

        getData(page){
            if(page > 0){
                this.page_no = page
            }else{
                this.page_no = 1
            }
            this.getUsers()
        },
        
        getUsers(){
            
            const self = this

            self.is_loading = true

            try {

                const token = localStorage.getItem('access-token')
                axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;

                axios
                .get(`/api/admin/users?page_no=${self.page_no}`)
                .then(res => {
                    self.is_loading = false
                    self.pagination.page_no = res.data.data.page_no
                    self.pagination.total_page = res.data.data.total_page
                    self.users = res.data.data.users
                })
                .catch((err) => {
                    console.log("USERS LIST ERROR: ", err);
                    self.is_loading = false
                })

            } catch (error) {
                
                self.is_loading = false

            }
            
        },

        showDetails(id, name) {

            const self = this
            self.viewing_pass = true
            self.loading_pass = true
            self.loading_pass_name = name
            
            axios
            .get(`/api/admin/user/${id}`)
            .then(res => {

                self.loading_pass = false
                console.log(res.data.data.redeemed_passes)
                self.redeemed_passes = res.data.data.redeemed_passes
                
            })
            .catch((err) => {
                console.log("PASS LIST ERROR: ", err);
                self.loading_pass = false
            })

        }

    },

    mounted() {
        this.getUsers()
    }
}
</script>